<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/header.html :: headr"></head>
<body>
<div th:replace="product/header.html :: heading"></div>


<div th:fragment="index" class="container">
    <div class="well well-sm">
        <strong th:text="${category.name}">Category Title</strong>
    </div>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <form method="post" action="/">
                                <button class="btn btn-success add_to_cart" type="submit"  th:value="${prod.getId()}"
                                        name="id">+ Add to cart</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>