<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">

    <div class="container navcontainer">
            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by Category
                    </button>
                    <div class="dropdown-menu list-group" aria-labelledby="dropdownMenuButton">
                        <div class="item col-xs-4 col-lg-4" th:each="cat,iter : ${allproducts}">
                            <a class="dropdown-item" th:text="${cat.name}" th:href="@{/(category=${cat.id})}">Action</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by Supplier
                    </button>
                    <div class="dropdown-menu list-group" aria-labelledby="dropdownMenuButton">
                        <div class="item col-xs-4 col-lg-4" th:each="sup,iter : ${allsuppliers}">
                            <a class="dropdown-item" th:text="${sup.name}" th:href="@{/(supplier=${sup.id})}">Action</a>
                        </div>
                    </div>
                </div>
        <div id="dropdownMenuButton3" th:replace="shopping_cart.html :: cart"></div>
        <div id="login_register" th:replace="login_register_modal.html :: login_register"></div>
            <button type="button"  data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark" id="loginbutton">Login</button><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal" id="regbutton">Register</button>
        </form>
        </div>
    </div>



    <div class="well well-sm">
        <strong th:text="${category.name}">Category Title</strong>
    </div>
</div>

</body>
</html>