.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 330px;
}
.thumbnail img
{
    margin-top: 10px;
    height: 200px;
    width: 300px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.navcontainer{
    margin: 5px;
}
#dropdownMenuButton1, #dropdownMenuButton2, #dropdownMenuButton3 {
    float:left;
    margin: 5px;
}

#viewcartbutton, #regbutton, #loginbutton {
    float:right;
    margin-right: 15px;
}

.dropdown-menu{
    margin-top:40px;
}
.cart-button
{
    float: right;
}

.header{
    margin-bottom: 10px;
    padding: 30px 0px;
}

td {
    padding-left: 20px;
}

#regbutton, #loginbutton {
    vert-align: middle;
    width: 174px;
    margin-top: 2px;
}



#loginbutton {
    margin-right: 4px;
}

#inputsdiv {
    margin-right: auto;
}

#welcomeUser{
    float: right;
    font-size: large;
    font-weight: bolder;
    margin-right: 5px;
}

